MONGODB_URI = Your Mongo db URI

APP_PASSWORD = Your Email app password
APP_USERNAME = Your Email app username
SERVICE = Your Service
HOST = Your Host

JWT_SECRET = Your Secret

BREVO_USER = Your brevo email
BREVO_API_KEY = Your brevo API key

KORAPAY_SECRET_KEY = Your Korapay Secret

GOOGLE_CLIENT_ID = Your Google client Id
GOOGLE_CLIENT_SECRET = Your Google client Secret